
.load {
    height: 100%!important;
    position: fixed;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171e22;
    z-index: 11110000!important;


}
.spinner {
    animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
    0% {
        stroke:#ff6817
    }
    25% {
        stroke: #be3d00
    }
    50% {
        stroke: rgba(255, 104, 23, 0.72)
    }
    75% {
        stroke: rgba(152, 49, 0, 0.78)
    }
    100% {
        stroke:#ff6817
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}
