

@font-face {
    font-family: "main";
    src: url("../fonts/Raleway-ExtraBold.ttf");
}
p {
  font-size: 15px;
  line-height: 25px;
}

section {
  padding: 25px 0 35px;
}

body {
  position: relative; /* we need this for the scrollspy */
  font-size: 14px;
    font-family: "main", sans-serif;
    color: #caced2;
    background-color: #f2f2f2;
}



/*----------
  NAV
----------*/
.fixed-side-navbar span {
  margin-right: 10px;
}
.fixed-side-navbar {
  position: fixed;
  top: 50%;
  right: 50px;
  z-index: 99999;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fixed-side-navbar:hover {
  background: transparent;
}
.fixed-side-navbar:hover .nav > li > a > span {
    color: #caced2;
  display: block;
    background-color: rgba(0, 0, 0, 0.31)!important;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  padding: 2px 12px;
  border-radius: 15px;
}
.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: #a4cdee
}
.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fixed-side-navbar .nav > li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 27px;
  margin-top: -9.5px;
  width: 22px;
  height: 22px;
  background: transparent;
  border: 5px solid #2e3236;
  border-radius: 10px;
}
.nav>li {
  position: relative;
  display: block;
}
.fixed-side-navbar .nav > li a {
  color: #fff;
  min-height: 32px;
  background: transparent;
  padding: 5px 45px 5px 25px;
  border-right: none;
}
.fixed-side-navbar .nav > li a span {
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.fixed-side-navbar .nav > li a:hover > span {
    color: #debf86;
    display: block;
}
.fixed-side-navbar .nav > li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 32px;
  margin-top: -5px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #dead38;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.fixed-side-navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  boder-right: 0;
}


.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

@media (max-width: 750px) {
    .primary-button a{
        display: block!important;
        margin-bottom: 10px!important;
    }
    .first-content h1{
        font-size: 30px!important;
        display: block;
        position: relative;
        top: 0;
    }

}
.primary-button a {

  display: inline-block;
  background-color: #54585c;
  padding: 15px 24px;
  border-radius: 3px ;
    border: 1px solid #ff7d27;
  text-transform: uppercase;
margin:5px;
  font-size: 11px;
  color: #ff7d27 ;
    font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}


.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}


.baner-content {
  padding-top: 30vh;
  text-align: center;
  background-image: url(../img/istockphoto-1190671385-612x612.jpg);
}

.baner-content h1 {
  margin-top: 0px;
  font-size: 30px;
  color: #ffd291;
  font-weight: 900;
  margin-bottom: 0px;
}

.baner-content em {
  color: #ff7d27;
  font-weight: 600;
  font-style: normal;
}

.baner-content span {
  display: inline-block;
  margin-top: -20px;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
}

.baner-content .primary-button {
  margin-top: 15px;
}



.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  background-image: url(../img/2nd-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

h4, .h4 {
  font-size: 18px;
}

.service-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px 0px 20px 0px;
}

.service-content .left-text p {
  color: #fff;
}

.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.service-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  color: #fff;
}

.service-content .left-text .primary-button {
  margin: 30px 0px;
}

.service-content .service-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.service-content .service-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px auto 15px auto;
}

/**/
.parallax-curtain{
    height:100vh;
    background: rgba(176, 38, 38, 0.5);
}


.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}


.tabs-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8vh;
  background-image: url(../img/hand.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

section {
  background-color: transparent;
  padding-bottom: 15px;
}

.wrapper {
  text-align: center;
}

.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.tabs a {
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  font-size: 14px;
  font-weight: 700;
  padding:10px 15px;
  border:4px solid #fff;
}

.tabs a:hover {
  color: #ff7d27;
}

.tabs .active {
  border:4px solid #ff7d27;
}

.tabgroup div  {

}

.tabgroup p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 25px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}


.contact-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16vh;
  background-image: url(../img/5th-section.jpg);
}

.contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  margin-bottom: 30px;
}

#contact input {
  border-radius: 3px;
  padding-left: 15px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}

#contact button {
  display: inline-block;
  background-color: #ff7d27;
  padding: 15px 24px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.map {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}



footer {
  text-align: center;
  background-color: #d4d4d4 ;
  padding: 70px 0px;
}

footer .primary-button {
  margin-bottom: 30px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #ff7d27 ;
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #282b2f;
  background-color: #ff8e43;
}

footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer em {
  color: #ff8e43;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 767px){

  .baner-content {
    padding-top: 30vh;
  }

  .baner-content h1 {
    font-size: 64px;
  }

  .baner-content em {
  }

  .baner-content span {
    font-size: 24px;
  }

  .baner-content .primary-button {
    margin-top: 15px;
  }

  .service-content {
    padding-top: 5vh;
    text-align: center;
  }

  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: #ff7d27;
    margin: 20px auto 20px auto;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* LIGHT BOX */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/*portfolio*/
.portrait-content {
    padding-top: 30vh;
    min-height: 90vh;
    background-image: url(../img/mory-middleee.jpg) ;
    background-size: cover;
    padding-bottom: 20vh;

}

.portrait-content .item img {
    width: 100%;
}

.portrait-content .item {
    margin: 15px;
}
.text-content{
    background-color: rgba(0, 0, 0, 0.51) !important;
}
.portrait-content .item .text-content {

    text-align: center;
    padding: 20px;
}

.portrait-content .item .text-content h4 {
    margin-top: 0px;
    font-size: 19px;
    font-weight: 600;
}

.portrait-content .item .text-content span {
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    color: #ff7d27;
}



/*portfolio manipulation*/
.manipulation-content {

    padding-top: 35vh;
    padding-bottom: 25vh;
    background-image: url(../img/hand.jpg);
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;


}

.manipulation-content .item img {
    width: 100%;
}

.manipulation-content .item {
    margin: 15px;
}

.manipulation-content .item .text-content {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.manipulation-content .item .text-content h4 {
    margin-top: 0px;
    font-size: 19px;
    font-weight: 600;
}

.manipulation-content .item .text-content span {
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    color: #ff7d27;
}
/*portfolio product*/

.product-content {
    padding-top: 35vh;
    padding-bottom: 25vh;
    background-image: url(../img/manipulation.jpg);
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;

}

.product-content .item img {
    width: 100%;
}

.product-content .item {
    margin: 15px;
}

.product-content .item .text-content {
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.product-content .item .text-content h4 {
    margin-top: 0px;
    font-size: 19px;
    font-weight: 600;
}

.product-content .item .text-content span {
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    color: #ff7d27;
}

.main {
    max-width: 1000px;
    margin: 20px auto;
}
.videolightbox-thumb {
    position: relative;
    max-width: 250px;
    height: 140px;
    overflow: hidden;
    /*background-image: url(https://i.ytimg.com/vi/Z0X2FyRl-9s/maxresdefault.jpg);*/
    background-size: 100%;
    background-position: 50% 50%;
    transition: background-size 0.3s ease-in-out;
    z-index: 1;
    display: inline-block;
}
.videolightbox-thumb img{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height:100px ;
    width: 100px;
}
.videolightbox-thumb:hover {
    background-size: 110%;
}
.videolightbox-thumb:hover .videolightbox-thumb-details {
    opacity: 1;
    transform: scale(1);
}
.videolightbox-thumb .videolightbox-thumb-details {
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.85);
    color: white;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}
.videolightbox-thumb .videolightbox-thumb-details .videolightbox-button {
    background: #58acfa;
    display: inline-block;

    cursor: pointer;
    font-size: 1.1rem;
    margin: auto;
}
.videolightbox-thumb .videolightbox-thumb-details .videolightbox-video-details {
    font-size: 0.9rem;
}
.videolightbox {
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    opacity: 0;
    z-index: 100;
}
.videolightbox .videolightbox-inner {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.videolightbox .lb-content {
    padding: 10px;
    height: auto;
    margin: auto;
    max-width: 800px;
    color: black;
    text-align: center;
}
.videolightbox .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    border-radius: 5px;
    background: white;
}
.videolightbox .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
