
/*@font-face {*/
/*    font-family: "main";*/
/*    src: url("../../../public/fonts/montserrat-v18-latin-regular.eot");*/
/*    src: url("../../../public/fonts/montserrat-v18-latin-regular.ttf");*/
/*    src: url("../../../public/fonts/montserrat-v18-latin-regular.woff");*/
/*}*/

@font-face {

    font-family: "logo";
    src: url("airstrip.ttf");

}
body    {
background-color: #1b2125!important;
    font-family:  sans-serif !important;

}
html, body {
    overflow-x: hidden!important;
    width: 100%!important;
}


/*----------
 Vertical title
----------*/

@media (min-width: 600px) {
    .glow{
        font-size: 35px!important;
        font-weight: 600!important;
        color:#ffb700 !important;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }
    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 20px rgba(255, 126, 0, 0.87), 0 0 30px rgb(255, 126, 0), 0 0 30px #ff7d00, 0 0 30px rgb(255, 118, 0), 0 0 30px #bf5c00, 0 0 30px rgb(167, 79, 0);
        }

        to {
            text-shadow: 0 0 20px #000000, 0 0 10px #ff7200, 0 0 20px #ff7b00, 0 0 20px #ff7b00, 0 0 20px #ff4da6, 0 0 20px #ff7b00, 0 0 20px #ff7b00;
        }
    }
    .title-info-vertical-section {

        font-size: 30px!important;
left: 190px;
        display: inline-block;
        position: absolute;
        color: #cc9966;

    }

    .video-portfolio .container   {
        padding-top: 30vh!important;
        padding-bottom: 30vh!important;
    }
    .photo-portfolio  .container   {
        padding-top: 30vh!important;
        padding-bottom: 30vh!important;

    }
    .baner-linkmobile{
        display: none!important;
    }
    .sec1-content {
        padding-top: 1vh;
        background-image: url(../img/hand.jpg);
        background-attachment: fixed;
        min-height: 100vh;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sec2-content {
        padding-top: 1vh!important;
        background-image: url(../img/handblur.jpg);
        background-size: cover;
        min-height: 100vh;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;


    }

    /*.sec3-layar{*/
    /*    background-color: rgba(255, 125, 39, 0.11)*/
    /*}*/
    .sec3-content {
        padding-top: 1vh;
        /*background-image: url(../img/manipulation.jpg);*/
        background-image: url(../img/hand.jpg);
        background-attachment: fixed;
        min-height: 200vh;


        background-size: cover;
        background-position: center center;
    }

    /*.sec4-content .container{*/
    /*    padding-bottom: 20vh!important;*/
    /*}*/
    .sec4-content {
        padding-top: 1vh;

        background-color: rgba(42, 47, 51, 0.55);
        min-height: 100vh;

    }

}








/*----------
  scroll button
----------*/
.scroll-down {
    position: absolute;
    left: 50%;

    transform: translate(-50%, -50%);
    padding-top: 20vh;
}
.mouse {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 26px;
    position: relative;
    border: 2px solid #f8f8f8;
    border-radius: 12px;
}
.mouse:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #ffffff;
    animation: mouse-animation 2.75s ease-in-out infinite;
}
.left, .right {
    display: inline-block;
    vertical-align: middle;
    padding: 0 18px;
    font-size: 15px!important;
    font-weight: bold!important;
    color: #e2d3d3;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
@keyframes mouse-animation {
    0% {
        transform: scale(1, 0);
        transform-origin: 50% 0;
    }
    20%, 80% {
        transform: scale(1, 1);
    }
    81% {
        transform-origin: 50% 100%;
    }
    100% {
        transform: scale(1, 0);
        transform-origin: 50% 100%;
    }
}

/*----------
  NAV
----------*/
.fixed-side-navbar span {
  margin-right: 10px;
}

@media (max-width: 600px) {
    .title-vertical > div {

        text-align: center;
        font-size: 30px;
    }
    .title-info-vertical-section {

        display: block!important;
        margin-bottom: 80px!important;
        transform-origin: left top 0;
        left: 190px;
    }

    .title-font{

        font-size: 27px!important;
        font-weight: 550!important;
        color: rgba(255,104,23,0.87);
        letter-spacing: 3px!important;

    }

    .glow {
        text-shadow: 0 0 5px , 0 0 5px #000000, 0 0 5px rgba(253, 137, 29, 0.65), 0 0 5px rgba(255, 125, 0, 0.64), 0 0 25px rgba(255, 118, 0, 0.58), 0 0 20px #bf5c00, 0 0 25px rgb(167, 79, 0);

        font-weight: bolder;
        text-align: center;

    }
    .ScrollDown {
        text-align: center;

    }

    .ScrollDown_box {
        position: absolute;
        position: absolute;
        left: 50%;
        top: 92%;
        margin-left: -50px;
    }
    a.btn_ScrollDown {
        display: block;

        width: 100px;
        height: 10px;
        margin: 0 auto;
        position: relative;
        color:#ff6817;
        text-decoration: none;
        font-size: 12px;

    }
    a.btn_ScrollDown span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 17px;
        height: 17px;
        margin-left: -15px;
        border-left: 3px solid #ff6817;
        border-bottom: 3px solid #ff6817;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb 2s infinite;
        animation: sdb 1.5s infinite;
        box-sizing: border-box;
    }
    a.btn_ScrollDown span:nth-of-type(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    a.btn_ScrollDown span:nth-of-type(2) {
        top: 12px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
    }
    a.btn_ScrollDown span:nth-of-type(3) {
        top: 25px;
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
    }
    @-webkit-keyframes sdb {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .video-wrapper{
        z-index:11;
    }
    .items-top{
        z-index:11;
    }
    .fixed-side-navbar span{
        font-size: smaller!important;
    }
    .fixed-side-navbar {
        position: relative;
        top: 15%!important;
        right:0px!important;
        z-index:0;

        text-align: right;
        padding: 15px 0 0 0!important;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .fixed-side-navbar .nav > li a {
        min-height: 35px!important;
        padding: 6px 40px 5px 25px!important;
        border-right: none;
    }
    .first-content{
        padding-top: 20px!important;
    }
    .title-font {
        font-size: 22px;
        letter-spacing: 2px;
    }


    .baner-content h1 {
        font-size: 64px;

    }


    .baner-content span {
        font-size: 29px;

    }

    .baner-content .primary-button {
        margin-top: 35px;
        margin-bottom: 80px;
    }

    .baner-content p{
        font-size: 25px!important;
        text-shadow:4px 4px 5px #0a0a0a;
    }
    .baner-content em {
        font-size: 35px;
        color: #ff7d27;
        font-weight: 600;
        font-style: normal;

    }
    .baner-content .primary-button a{
        display: block!important;
        margin:5px 65px!important;
        padding: 10px 5px!important;
        font-size: 16px!important;

    }
    .baner-content .primary-button{
        margin-bottom:40px!important;
    }
    .baner-content{
        height: 100% !important;
        padding-top: 0!important;
    }
    .baner-link{
        display: none!important;
    }
    .baner-linkmobile{

        padding-top:0!important;
        margin-top:0!important;
        text-align: left;
        padding-bottom:30px!important;

    }
    /*.pagechange{*/
    /*    position: absolute;*/
    /*    top*/
    /*}*/
    .baner-linkmobile a{
        padding-top: 10px!important;
        display: block!important;
        margin-left:15px!important;
        font-size: 18px!important;
        font-weight: lighter!important;
        color:rgba(255,104,23,0.97)!important;
        text-decoration:none ;


    }
    .baner-namo span{

        margin-left: 15px!important;
        height: 10px!important;
        width: 10px!important;
        background-color: rgba(255,183,0,0.97);
        border-radius: 50%;
        display: none!important;

    }
    .baner-namo .namologo span:first-of-type{
        margin-left: 7px!important;
        display: inline-block!important;
        font-size: 25px!important;

    }
    .baner-namo {
        text-align: center;
        align-content: center;
        padding-top: 5px!important;
        font-size: 25px!important;
        font-weight: 100!important;
        color: rgba(255,183,0,0.97);
    }
    .baner-namo div:first-of-type{
        display: inline-block;
    }

    .namologo {
        color: rgba(255,183,0,0.97);
        margin-left: 20px ;
        border-radius: 50px;
        padding: 0px 30px!important;
        background-color: rgb(10, 11, 12) !important;
        line-height: normal!important;
        font-size: 45px!important;
        display: inline-block;
        font-family: 'logo', sans-serif!important;
    }
    .namologo a{
        color: rgba(255,183,0,0.97);
    }
    .namologo span{
        margin-left: 20px!important;

    }
    h1{
        font-size:25px!important;
        color: white;
        font-weight: 600;
    }
}
.portfobut{
    position: fixed;
    z-index: 10;
    top: 2%;
}
.fixed-side-navbar {
  position: fixed;
  top: 15%;
  right: 50px;
  z-index: 10;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fixed-side-navbar:hover {
  background: transparent;
}
.fixed-side-navbar:hover .nav > li > a > span {
    color: #caced2;
  display: block;
    background-color: rgba(0, 0, 0, 0.54) !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  padding: 2px 12px;
  border-radius: 15px;
}
.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: #a4cdee
}
.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fixed-side-navbar .nav > li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 26px;
  margin-top: -9px;
  width: 22px;
  height: 22px;
  background: transparent;
  border: 5px solid rgba(0, 0, 0, 0.64);
  border-radius: 10px;
}
.nav>li {
  position: relative;
  display: block;
}
.fixed-side-navbar .nav > li a {
  color: #fff;
    font-weight: bold!important;
  min-height: 32px;
  background: transparent;
  padding: 5px 50px 5px 25px;
  border-right: none;
}
.fixed-side-navbar .nav > li a span {
  display: none;

  -webkit-transition: all .2s;
  transition: all .2s;
}
.fixed-side-navbar .nav > li a:hover > span {
    color: rgb(255, 125, 39);
    display: block;
}
.fixed-side-navbar .nav > li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background:rgba(255,104,23,0.97);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.fixed-side-navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  boder-right: 0;
}


.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}


.baner-content .primary-button a{
    padding: 15px 40px;
    font-size: 16px;
}

.primary-button a {

  display: inline-block;
  background-color: rgba(23, 28, 32, 0.63);
  padding: 15px 24px;
  border-radius: 3px ;
    border: 1px solid #ff7d27;
  text-transform: uppercase;
    transition: 0.4s;
    margin:5px;
  font-size: 12px;
  color: #ff7d27 ;
    font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
}
.primary-button a:hover{


  background-color: #060607;




  color: #fcbb93;


}


.parallax-content {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}
.baner-content {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    text-align: center;
    background-image: url(../img/morymid.jpg);

}


@media (max-width: 600px) {

    .scroll-down{
        display: none!important;
    }

    .video-portfolio .container   {
        padding-top: 15vh!important;
        padding-bottom: 14vh!important;
    }
    .photo-portfolio  .container   {
        padding-top: 10vh!important;
        padding-bottom: 14vh!important;

    }
    .baner-content {

        background-image: url(../img/mory-middlemobile.jpg)!important;
        text-align: center;
        background-size: cover!important;
        min-height: 100vh!important;

    }
    .sec1-content {

        background-image: url(../img/handmobileblack.jpg)!important;
        background-size: cover!important;
        min-height: 100vh!important;
        background-attachment: fixed;

    }
    .sec2-content {

        background-image: url(../img/handmobileblack.jpg)!important;
        background-size: cover!important;
        min-height: 100vh!important;
        background-attachment: fixed;



    }
    .sec3-content {

        background-image: url(../img/handmobileblack.jpg)!important;
        background-size: cover!important;
        min-height: 200vh;
        background-attachment: fixed;

    }
    /*.mobbg{*/

    /*    background-color: rgba(0, 0, 0, 0.8) !important;*/


    /*}*/
    .sec4-content {

        background-attachment: fixed;

        /*background-color: rgba(0, 0, 0, 0.8) !important;*/
        min-height: 100vh;
        background-size: cover!important;
    }
    .mid-footer{
        display: block!important;
        margin-bottom: 90px!important;
    }

    .rightfooter-link {
        margin-bottom: 80px!important;
        display: block!important;
    }
    .mid-footer li{
        display: inline-block;
        margin: 0 10px!important;
    }
    .mid-footer .primary-button :first-child{

     margin: 15px 35px!important;

    }
    .mid-footer .primary-button a{
        display: block!important;
    }
    .mid-footer ul li a {
margin-top: 7px!important;
        width: 60px!important;
        height: 60px!important;

        font-size: 35px!important;
    }
    .mid-footer i {

     padding-top: 11px!important;
    }

    .leftfooter-link svg {
        width: 40px!important;
        height: 40px!important;
     padding-top: 12px!important;
        font-size: 45px!important;
    }
    .leftfooter-link img {
        width: 40px!important;
        height: 40px!important;
     padding-top: 12px!important;
        font-size: 45px!important;
    }

    .leftfooter-link ul{
       margin-right: 14px!important;
    }
    .leftfooter-link ul a{
        width: 55px!important;
        height: 55px!important;
        font-size: 35px!important;
    }

    .rightfooter-link ul{
        padding: 0!important;

       margin-left: 0!important;
       margin-right: 0!important;
    }

    .rightfooter-link .namologo{

        font-size: 55px!important;
        background-color: #4b00cc!important;


    }
    .rightfooter-link span{
        margin-left: 3px!important;
        height: 9px!important;
        width: 9px!important;


    }
    .rightfooter-link ul li a {

        width: 60px!important;
        height: 60px!important;

        font-size: 35px!important;
    }
    .rightfooter-link ul li a i{

        padding-top:13px !important;
    }
    .namologo{
        padding: 0 24px!important;
        margin-left: 0!important;
    }
    .title-vertical

}
.baner-link{
    padding-top:3vh ;
    text-align: left;

    padding-bottom: 13vh;

}

.baner-link a{
    margin-left:40px;
    color:rgba(255,104,23,0.97)!important;
    text-decoration:none ;
    font-size: 20px;

}
.baner-namo span{

    margin-left: 20px;
    height: 15px;
    width: 15px;
    background-color: rgba(255,183,0,0.97);
    border-radius: 50%;
    display: inline-block;

}
.baner-namo span:first-of-type{
    margin-left: 28px;

}
.baner-namo {
    text-align: center;
    align-content: center;
    padding-top: 7vh;
    font-size: 25px;
    font-weight: 100!important;
    color: rgba(255,183,0,0.97);
}
.baner-namo div:first-of-type{
    display: inline-block;
}
.baner-namo p{

}
.namologo {
    color: rgba(255,183,0,0.97);
    margin-left: 20px ;
    border-radius: 50px;
    padding: 0px 45px;
    background-color: rgba(21,22,25,0.62);
    line-height: normal!important;
    font-size: 80px;
    display: inline-block;
    font-family: 'logo', sans-serif!important;
}
.namologo a{
    color: rgba(255,183,0,0.97);
}
.namologo span{
    margin-left: 20px!important;

}
@media (min-width: 600px) {



    .baner-content h1 {

        margin-top: 0;
        font-size: 55px;
        color: rgb(255, 255, 255);
        font-weight: 1000;
        margin-bottom: 0;
    }


    .baner-content em {

        color: #ff7d27;
        font-weight: 700;
        font-style: normal;
    }

    .baner-content span {
        display: inline-block;
        margin-top: 10px;
        font-weight: 300;
        font-size: 90px;
        color: #fff;
    }

    .baner-content .primary-button {
        margin-top: 179px;

    }
    .baner-content .primary-button a{

        min-width: 200px;
    }



    .baner-content em {
        color: #ff7d27;
        font-weight: 700;
        font-style: normal;

    }



}




footer {
    text-align: center;
    /*background-color:#000000;*/
    padding: 50px 0;
    background-color: rgba(16, 19, 21, 0.7);
    background-size: cover;
}

footer .primary-button {
    display: inline-block;
    margin-bottom: 15px;

}
footer .primary-button a{
    font-size: 17px;

}

.mid-footer{

}
.mid-footer ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.mid-footer ul li {
    display: inline-block;
    margin: 0 18px;
}
/*a{*/
/*    color: rgba(255,104,23,0.97);*/
/*}*/
/*a :hover {*/
/*    color: rgba(255,104,23,0.97)!important;*/
/*}*/
.mid-footer ul li a i{

padding-top:15px ;
}
.mid-footer ul li a {
    border: 1px solid;
    width: 65px;
    height: 65px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background-color: #ff7d27;
    color: #282b2f;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 33px;
}


.mid-footer ul li a:hover {
    color:#ff6817!important;
    background-color: rgba(0, 0, 0, 0.53);
    border: 1px solid #ff6817;
}

footer p {
    font-weight: normal;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-top: 15px;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding-top: 20px;
}


.pelak24-social{
    text-align: center;
}
.leftfooter-link ul li{

    display: inline-block;
    text-align: center;

}
.leftfooter-link ul{

    margin-right: 14px;

}
.leftfooter-link svg{
padding-top:13px ;

    color:#404b5b;
}
.leftfooter-link ul li a {


    width: 65px;
    height: 65px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background-color:#f4ab4b;
    color:#404b5b;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 33px;

}

.leftfooter-link .pelak24 a{
    display: inline-block;
    background-color:#f4ab4b;
    padding: 17px 40px;
    transition: 0.4s;
    margin:5px;
    font-size: 18px;
    color:#2a2f33 ;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}
.rightfooter-link .namologo{
background-color: #4b00cc;
    font-size: 56px;


}
.rightfooter-link span{
    margin-left: 4px!important;
    height: 12px;
    width: 12px;
    background-color: rgba(255,183,0,0.97);
    border-radius: 50%;
    display: inline-block;



}
.rightfooter-link ul li a {

    border: 1px solid #4b00cc;
    width: 65px;
    height: 65px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background-color:#4b00cc;
    color: #ffb700;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 33px;
}
.rightfooter-link ul li a i{

    padding-top:15px ;
}

.item {
    margin: 15px!important;
}

.text-content h4{
    margin-top: 0px!important;
    font-size: 19px!important;
    font-weight: 600!important;

}


.text-content span {
    font-style: normal!important;
    font-size: 17px!important;
    font-weight: 700!important;
    color:#ff6817

}




.item img {
    width: 100%;
}





.item {
    margin: 15px;
}

.item .text-content {
    background-color: rgba(46, 50, 54, 0.66);
    text-align: center;
    padding: 20px;
    color: rgb(255, 104, 23);
    font-weight: bold;
}

 .item .text-content h4 {
    margin-top: 0px;
    font-size: 19px;
    font-weight: 600;
}

 .item .text-content span {
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    color: #ff7d27;

}
/**/



.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}




.wrapper {
  text-align: center;
}

.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.tabs a {
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  font-size: 14px;
  font-weight: 700;
  padding:10px 15px;
  border:4px solid #fff;
}

.tabs a:hover {
  color: #ff7d27;
}

.tabs .active {
  border:4px solid #ff7d27;
}

.tabgroup div  {

}

.tabgroup p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 25px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}




.contact-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  margin-bottom: 30px;
}

#contact input {
  border-radius: 3px;
  padding-left: 15px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
  border: none;
  box-shadow: none;
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}

#contact button {
  display: inline-block;
  background-color: #ff7d27;
  padding: 15px 24px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.map {
  margin-bottom: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}




@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* LIGHT BOX */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

