
html, body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.info {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
}
button {
    background-color: transparent;
    border: none;

}
.button {
    height: 90vh;
    display: block;
    width: 60vh;
    border: none;
}

@media (min-width: 800px) {


}
@media (min-width: 700px){
    .screen {
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;
        opacity: 0.9;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    }
    .screen.left {
        left: 0;

        background-size: cover;

        -moz-transition: 0.3s ease-in-out all;
        -o-transition: 0.3s ease-in-out all;
        -webkit-transition: 0.3s ease-in-out all;
        transition: 0.3s ease-in-out all;


    }
    .screen.left:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;

    }
    .screen.right {
        right: 0;

        background-size: cover;

        -moz-transition: 0.3s ease-in-out all;
        -o-transition: 0.3s ease-in-out all;
        -webkit-transition: 0.3s ease-in-out all;
        transition: 0.3s ease-in-out all;

    }
    .screen.right:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;

    }



    .screen.left, .screen.right, .screen.right:before, .screen.left:before {
        transition: 1000ms all ease-in-out;
    }
    .hover-left .left, .hover-right .right {
        width: 75%;
        opacity: 1;

        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -o-filter: grayscale(0%);
    }
    .hover-left .right, .hover-right .left {
        width: 25%;

    }
    .hover-left .right:before, .hover-right .left:before {
        z-index: 2;
    }
    .screen.left {
        left: 0;

        background-size: cover;

        -moz-transition: 0.3s ease-in-out all;
        -o-transition: 0.3s ease-in-out all;
        -webkit-transition: 0.3s ease-in-out all;
        transition: 0.3s ease-in-out all;


    }
    .screen.left:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;

    }
    .screen.right {
        right: 0;

        background-size: cover;

        -moz-transition: 0.3s ease-in-out all;
        -o-transition: 0.3s ease-in-out all;
        -webkit-transition: 0.3s ease-in-out all;
        transition: 0.3s ease-in-out all;

    }
    .screen.right:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;

    }



    .screen.left, .screen.right, .screen.right:before, .screen.left:before {
        transition: 1000ms all ease-in-out;
    }
    .hover-left .left, .hover-right .right {
        width: 75%;
        opacity: 1;

        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -o-filter: grayscale(0%);
    }
    .hover-left .right, .hover-right .left {
        width: 25%;

    }
    .hover-left .right:before, .hover-right .left:before {
        z-index: 2;
    }

    .svg-photo{
        display: none!important;
    }
    .svg-video{
        display: none!important;
    }
    .screen.left {

        background: url('../img/PHOTO color.jpg') center center no-repeat;
    }
    .screen.right {

        background: url('../img/video color.jpg') center center no-repeat;


    }



}
    @media (max-width: 800px) {
.info{
    display: none!important;
}
        .screen.left {

            background: url('../img/MOBILE PHOTO BW.jpg') center center no-repeat;
        }
        .screen.right {

            background: url('../img/MOBILE VIDEO BW.jpg') center center no-repeat;


        }

.mobilelink{
    position: absolute;
    min-height: 10vh;
    left: 10%;
    display: block;
    align-content: center;
    padding: 290px 190px;

}


    /*                  .st0{opacity:0.15;fill: rgba(255, 90, 0, 0.61)*/
    /*                  }*/
    /*.st1{opacity:1;fill:none;stroke: rgb(255, 87, 0);stroke-width:10;stroke-miterlimit:10;}*/

    /*.text {*/
    /*    animation: bounce 1s linear infinite;*/
    /*}*/

    @keyframes bounce {
        10% {
            transform: translateY(-10px)
        }
        70% {
            transform: translateY(0)
        }
    }


    h1 {
        font-size: 5rem;
    }


}
@media (max-width: 700px) {

    h1 {
        font-size: 4rem;
    }
    .button {
        display: none!important;
    }
    .screen{

        opacity: 1!important;
        position:relative!important;
       background-size: cover!important;
        overflow: hidden;
        transform: none!important;
        transition: none!important;
        display: block!important;


    }
    .screen {
      left:unset!important;
        right: unset!important;
        width: 100%!important;
        height: 50%!important;
        overflow: hidden;
    }


    /*.button {*/
    /*display: none!important;*/
    /*}*/
    /*.screen.right{*/
    /*    display: block!important;*/
    /*}*/
    /*.screen.left{*/
    /*    display: block!important;*/
    /*}*/



}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    /*background: rgba(245, 163, 116, 0.33);*/
}








